html{
    box-sizing: border-box;
    }
    
    *, ::after, ::before{
    box-sizing: inherit;
    }
    .body{
        max-width: 1000px;
        margin: auto;
        text-align: center;
        font-family: 'Oleo Script Swash Caps', cursive;
        line-height: 1.5;
        background-color: #F0FFF0;
        padding: 0px 25px;
    }
    .article__header{
        font-family: 'Oleo Script Swash Caps', cursive;
        letter-spacing: 5px;
    }
    .image{
        border-radius: 20%;
        box-shadow: 0px 0px 20px -1px rgba(66, 68, 90, 1);
        margin-top: 100px;
    }
    .unlist{
        text-decoration: none;
        color: black;
    }
    .unlist:hover{
color: silver;
    }
    .section{
        margin-top: 100px;
    }
    
    .orderList{
        padding-left: 50px;
        text-align: center;  
    }
    .table{
        margin: 0 auto;
        border-bottom: 1px solid black;
    }
    .tableHeader{
        background-color: rgba(112, 112, 209, 0.37);
        padding: 30px;
        
    }
    .borderd{
        border-bottom: 1px solid blue;
        
    }
    .tableRow:hover{
        background-color: rgba(112, 112, 209, 0.37);
    }
    .footer{
        border-top: 2px solid black;
    }
    .image2{
        border-radius: 50%;
    }
    .order{
        list-style-type: none;
    }
    .dark{
        background-color: red;
        color: white;
    }